body {
  max-width: 1200px;
  margin: auto;
  background-image: url(/images/bg.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  color: green;
  font-size: 2em;
  margin-top: 20px;
}

.galerie {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: space-around; */
  /* gap: 3px; */
  border-radius: 8px;

}

img {
  width: 13%;
  object-fit: cover;
  border: solid white 2px;
}