/* Page */
body {
  max-width: 1200px;
  margin: auto;
  background-image: url(./images/bg.jpg);
  background-size: fixed;
}

/* Titre de page */
h1 {
  text-align: center;
  color: green;
  font-size: 2em;
  margin-top: 20px;
}

/* Div image */
.galerie {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 8px;
}

/* Image */
img {
  width: 13%;
  object-fit: cover;
  border: solid white 2px;
}

/* La taille a peu prés d'une tablette standard */
/* Média quieres pour responsive la page */
/* Max-width pour a partir de cette taille la page ce responsive */
@media (max-width: 1024px) {
  img {
    width: 24%;
  }
}

/* La taille pour un téléphone standard */
/* Média quieres pour responsive la page */
/* Max-width pour a partir de cette taille la page ce responsive */
@media (max-width: 576px) {
  img {
    width: 48%;
  }
}